.div-user-metrics-container {
  display: flex;
  padding: 16px var(--CollectionsSelected, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  .div-user-metrics-box {
    display: flex;
    width: 1126px;
    padding: 40px 48px;
    align-items: flex-start;
    gap: 77px;
    border-radius: 6px;
    border: 1px solid var(--Neutrals-Border-grey, #E5E5E8);

    .div-user-metric-item {
      flex: 1; /* Each item takes equal space */
    }

    .divider {
      width: 1px;
      height: var(--CollectionsSelected, 287px);
      background: #E5E5E8;
    }

    .item-1 {
      display: flex;
      width: 254px;
      padding-right: 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
      flex-shrink: 0;
    }
  }


}

