.div-page-metrics-utmlinks {
  display: flex;
  width: 1104px;
  padding: 40px 48px;
  align-items: flex-start;
  gap: 77px;
  border-radius: 6px;
  border: 1px solid var(--Neutrals-Border-grey, #E5E5E8);
}
