@import "../../styles/insightIq";

.performance-metric {
  width: 254px;

  hr {
    width: 100%;
    border: 1px solid var(--neutrals-border-grey) !important;
    margin: 12px 0px 12px 0px !important;
  }


}

.metric-content {
  text-align: center;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  align-items: center;
}

.metric-text {
  color: var(--neutrals-primary-grey);
  @extend .title;
}

.performance-metric-icon {
  color: var(--neutrals-secondary-grey);
  font-size: 24px;
}

.info-name-container {
  align-items: center;
  display: flex;
  gap: 8px;
  color: var(--neutrals-secondary-grey);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .info-icon {
    color: var(--neutrals-secondary-grey);
    font-size: 16px;

  }
}
