.metric-content {
  color: var(--neutrals-primary-grey);
  text-align: center;
  font-size: 26px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.36px;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  align-items: center;
}

.info-name-container {
  align-items: center;
  display: flex;
  gap: 8px;
  color: var(--neutrals-secondary-grey);
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .info-icon {
    color: var(--neutrals-secondary-grey);
    font-size: 16px;

  }
}