.div-user-journey-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 128px;
}
.div-user-journey-page {
  display: flex;
  flex-direction: column;
  //padding-left: 157px;
  //padding-right: 157px;
  padding-bottom: 90px;
  width: 1126px;
  gap: 48px;

  .div-back-container {
    display: flex;
    width: 1439px;
    padding-top: 40px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
  }

  .div-top-container-user-journey {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
  }
}
.event-journey-header {
  color: #000;

  /* Section heading */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.22px;
}
.table-load-more-button {
  padding: 18px 24px 18px 20px;
  height: 56px;
  background: var(--main-secondary);
  border: none;
  border-radius: 6px;
  margin-left: 24px;
  color: var(--main-primary);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.16px;
}
.div-user-journey-box {
  display: flex;
  //width: 1126px;
  padding: 40px 48px;
  align-items: flex-start;
  gap: 77px;
  border-radius: 6px 6px 0px 0px;
  border: 1px solid var(--Neutrals-Border-grey, #e5e5e8);
  border-bottom: 0px;
}
